h1 {
    margin-bottom: 0;
}
h5 {
    margin: 0 0 30px 0;
}

.app {
    text-align: center;
}

.app-logo {
    height: 6vmin;
    pointer-events: none;
}

.app-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    font-size: calc(10px + 2vmin);
    color: white;
}

.app-link {
    color: #61dafb;
}

.app-title {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.prompt-text {
    margin: 0 0 15px 0;
}
.intro-container,
.answer-container {
    margin: 15px;
}
.intro-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 25%;
}
.you-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 25%;
}
.resp-text,
.intro-text {
    font-size: 1rem;
    margin: 5px;
}
.intro-text {
    background: rgba(255, 255, 255, 1);
    border: 2px solid #ebebeb;
    padding: 16px 20px;
    border-radius: 28px;
    color: #09083a;
}
.text-input {
    width: 200px;
}
