<style>
</style>

<!-- Toolbar -->
<div class="app">
    <header class="app-header">
        <div class="app-title">
            <div>
                <h1>{{ title }}</h1>
            </div>
        </div>
        <p class="prompt-text">What is your name?</p>
        <div>
            <input type="text" class="text-input" />
            <button>Introduce</button>
        </div>
        <div class="intro-container">
                <p class="resp-text">intro text</p>
        </div>
            <div>
                <input type="text" class="text-input"  />
                <button >Say</button>
            </div>
        <div class="intro-container">
                <p class="resp-text">answer</p>
        </div>
    </header>
</div>
