---
const creator = {
  name: 'Ademílson F. Tonato',
  twitter: {
    username: '@ftonato',
    url: 'https://twitter.com/ftonato',
  },
}
---

<div class="fixed bottom-4 right-4">
  <a href={creator.twitter.url} target="_blank" title="Follow me on Twitter" class="text-xs">
    {creator.name} - <span class="text-gradient">{creator.twitter.username}</span>
  </a>
</div>
