---
---

<h1 class="text-center">Chat to <span class="text-gradient">Eliza</span></h1>

<p class="instructions">
  To get started, say your name to <strong>Eliza</strong>, let the conversation flow, and see what happens!
</p>
<style>
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem;
  }
  .instructions strong {
    color: rgb(var(--accent));
  }
</style>
