<div>
    <header class="app-header">
        <h1>{{ title }}</h1>
    </header>
    <div class="container">
        <div *ngFor="let resp of responses" [ngClass]="resp.sender == 'eliza' ? 'eliza-resp-container' : 'user-resp-container'">
            <p class="resp-text">{{resp.text}}</p>
        </div>
        <div>
            <input (keydown.enter)="onSend()" type="text" class="text-input" [(ngModel)]="statement"  />
            <button (click)="onSend()">Send</button>
        </div>
    </div>
</div>
